<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" href="images/favicon.ico" type="image/ico" />*@

    <title>@ViewBag.Title | WorkNet | </title>

    <!-- Bootstrap -->
    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Alela/css/custom.css" rel="stylesheet" />

    @RenderSection("estilosGentella", required: false)

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-briefcase"></i> <span>WorkNet</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Alela/images/userdefault.png" alt="Perfil Usuario" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <h2>Bienvenido a WorkNet</h2>
                            <br />
                            <h2>Inicio sesión con:</h2>
                            <span>@Session["Correo"]</span>


                            @*<h2>@Session["Rol"]</h2>*@
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Home")">Dashboard Principal</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-briefcase" aria-hidden="true"></i> Empleo <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (Session["Rol"].Equals("2"))
                                        {

                                            <li><a href="@Url.Action("BusquedaEmpleos","Empleos")">Trabajos Disponibles</a></li>
                                            <li><a href="@Url.Action("EmpleoInteligente","Empleos")">Empleo Inteligente</a></li>
                                            <li><a href="@Url.Action("VerEmpleosPorCategoria","Empleos")">Categorias</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("EmpleosPublicados","Empleos")">Empleos Publicados</a></li>
                                            <li><a href="@Url.Action("CrearEmpleo","Empleos")">Crear Empleo</a></li>

                                        }


                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-binoculars"></i> Solicitudes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        @if (Session["Rol"].Equals("2"))
                                        {

                                            <li><a href="@Url.Action("Solicitudes","Solicitudes")">Solicitudes Enviadas</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Solicitudes","Solicitudes")">Solicitudes Recibidas</a></li>

                                        }

                                    </ul>
                                </li>
                                @if (Session["Rol"].Equals("1"))
                                {
                                    <li>
                                        <a><i class="fa fa-users"></i> Candidatos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">              

                                                <li><a href="@Url.Action("Candidatos", "Usuarios")">Lista de Candidatos</a></li>
                       
                                        </ul>
                                    </li>

                                }
                                </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Salir" href="@Url.Action("InicioSesion","Usuarios")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Alela/images/userdefault.png" alt="Perfil Usuario">
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    @if (Session["Rol"].Equals("2"))
                                    {
                                        <a>@Html.ActionLink("Editar Usuario", "EditarCandidato", "Usuarios", routeValues: new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })</a>
                                    }
                                    else
                                    {
                                        <a>@Html.ActionLink("Editar Usuario", "EditarReclutador", "Usuarios", routeValues: new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })</a>
                                    }


                                    <a>@Html.ActionLink("Cambio de Clave", "CambiarClave", "Usuarios", routeValues: new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })</a>
                                    <a>@Html.ActionLink("Salir", "CerrarSesion", "Home", routeValues: new { area = "" }, htmlAttributes: new { @class = "dropdown-item" })</a>

                                </div>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    WorkNet</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Vendors/jquery/jquery.min.js"></script>
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Vendors/nprogress/nprogress.js"></script>

    <script src="~/Vendors/gauge.js/dist/gauge.min.js"></script>


    <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

    <script src="~/Vendors/Chart.js/dist/Chart.min.js"></script>

    <script src="~/Vendors/Flot/jquery.flot.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.resize.js"></script>

    <script src="~/Vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Vendors/flot.curvedlines/curvedLines.js"></script>

    <script src="~/Vendors/DateJS/build/date.js"></script>

    <script src="~/Vendors/moment/min/moment.min.js"></script>
    <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>


    <script src="~/Content/Alela/js/custom.js"></script>
    <script src="~/Vendors/Funciones/General.js"></script>

    @RenderSection("scriptsProyecto", required: false)
</body>
</html>
